.accordion-shortcut {
    background-image: url(/Leetop/desktop/resources/images/im32x32.gif);
}

.cpu-shortcut {
    background-image: url(/Leetop/desktop/resources/images/statusLarge.png);
}

.grid-shortcut {
    background-image: url(/Leetop/desktop/resources/images/grid32x32.gif);
}

.notepad-shortcut {
    background-image: url(/Leetop/desktop/resources/images/notepadLarge.png);
}


.qq-shortcut {
    background-image: url(/Leetop/desktop/resources/images/qq.png);
}

.app-shortcut {
    background-image: url(/Leetop/desktop/resources/images/appbar_manage.png);
}

.t-shortcut {
    background-image: url(/Leetop/desktop/resources/images/t.png);
}

.mail-shortcut {
    background-image: url(/Leetop/desktop/resources/images/mail.png);
}

.plugin-shortcut {
    background-image: url(/Leetop/desktop/resources/images/plugin.png);
}

.qzone-shortcut {
    background-image: url(/Leetop/desktop/resources/images/qzone.png);
}

.tt-shortcut {
    background-image: url(/Leetop/desktop/resources/images/tt.png);
}

.douban-shortcut {
    background-image: url(/Leetop/desktop/resources/images/douban.png);
}

.qmusic-shortcut {
    background-image: url(/Leetop/desktop/resources/images/qmusic.png);
}

.qmusic-small-shortcut {
    background-image: url(/Leetop/desktop/resources/images/qmusic-small.png);
}


.pengyou-shortcut {
    background-image: url(/Leetop/desktop/resources/images/pengyou.png);
}

.friend-shortcut {
    background-image: url(/Leetop/desktop/resources/images/friend.png);
}

.shipin-shortcut {
    background-image: url(/Leetop/desktop/resources/images/shipin.png);
}

.dic-shortcut {
    background-image: url(/Leetop/desktop/resources/images/dic.png);
}

.map-shortcut {
    background-image: url(/Leetop/desktop/resources/images/map.png);
}

.map-small-shortcut {
    background-image: url(/Leetop/desktop/resources/images/map-small.png);
}


.bianqian-shortcut {
    background-image: url(/Leetop/desktop/resources/images/bianqian.png);
}

.nethard-shortcut {
    background-image: url(/Leetop/desktop/resources/images/nethard.png);
}

.douban-shortcut {
    background-image: url(/Leetop/desktop/resources/images/douban.png);
}

.douban-shortcut-small {
    background-image: url(/Leetop/desktop/resources/images/douban-small.png);
}

.tt-shortcut-small {
    background-image: url(/Leetop/desktop/resources/images/tt-small.png);
}

.clock-shortcut {
    background-image: url(/Leetop/desktop/resources/images/clock.png);
}
.wether-shortcut {
    background-image: url(/Leetop/desktop/resources/images/wether.png);
}

.folder-shortcut{
	background-image: url(/Leetop/desktop/resources/images/folder-shortcut.png);
}

