.accordion-shortcut {
    background-image: url(/Leetop/desktop/resource/images/im32x32.gif);
}

.cpu-shortcut {
    background-image: url(/Leetop/desktop/resource/images/statusLarge.png);
}

.grid-shortcut {
    background-image: url(/Leetop/desktop/resource/images/grid32x32.gif);
}

.notepad-shortcut {
    background-image: url(/Leetop/desktop/resource/images/notepadLarge.png);
}


.qq-shortcut {
    background-image: url(/Leetop/desktop/resource/images/qq.png);
}

.app-shortcut {
    background-image: url(/Leetop/desktop/resource/images/appbar_manage.png);
}

.t-shortcut {
    background-image: url(/Leetop/desktop/resource/images/t.png);
}

.mail-shortcut {
    background-image: url(/Leetop/desktop/resource/images/mail.png);
}

.plugin-shortcut {
    background-image: url(/Leetop/desktop/resource/images/plugin.png);
}

.qzone-shortcut {
    background-image: url(/Leetop/desktop/resource/images/qzone.png);
}

.tt-shortcut {
    background-image: url(/Leetop/desktop/resource/images/tt.png);
}

.douban-shortcut {
    background-image: url(/Leetop/desktop/resource/images/douban.png);
}

.qmusic-shortcut {
    background-image: url(/Leetop/desktop/resource/images/qmusic.png);
}

.qmusic-small-shortcut {
    background-image: url(/Leetop/desktop/resource/images/qmusic-small.png);
}


.pengyou-shortcut {
    background-image: url(/Leetop/desktop/resource/images/pengyou.png);
}

.friend-shortcut {
    background-image: url(/Leetop/desktop/resource/images/friend.png);
}

.shipin-shortcut {
    background-image: url(/Leetop/desktop/resource/images/shipin.png);
}

.dic-shortcut {
    background-image: url(/Leetop/desktop/resource/images/dic.png);
}

.map-shortcut {
    background-image: url(/Leetop/desktop/resource/images/map.png);
}

.map-small-shortcut {
    background-image: url(/Leetop/desktop/resource/images/map-small.png);
}


.bianqian-shortcut {
    background-image: url(/Leetop/desktop/resource/images/bianqian.png);
}

.nethard-shortcut {
    background-image: url(/Leetop/desktop/resource/images/nethard.png);
}

.douban-shortcut {
    background-image: url(/Leetop/desktop/resource/images/douban.png);
}

.douban-shortcut-small {
    background-image: url(/Leetop/desktop/resource/images/douban-small.png);
}

.tt-shortcut-small {
    background-image: url(/Leetop/desktop/resource/images/tt-small.png);
}

.clock-shortcut {
    background-image: url(/Leetop/desktop/resource/images/clock.png);
}
.wether-shortcut {
    background-image: url(/Leetop/desktop/resource/images/wether.png);
}

.folder-shortcut{
	background-image: url(/Leetop/desktop/resource/images/folder-shortcut.png);
}

